@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Open+Sans&family=Oswald&family=Work+Sans&display=swap');
#MainMenu{visibility: hidden;}
footer {visibility:hidden;}

*, ::before, ::after{
    font-family: 'Inter Sans', sans-serif;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(5){
    margin-top: -50px;
    margin-bottom:20px;
    color:#170e45;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) > div > div{
    max-width: 30%;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) > div > div > div > div > div > div > p{
    width: 2000%;
}

/*MALFORMED OVERVIEW DATA FIX*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div{
    background-color: none;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div > div.glideDataEditor.wzg2m5k{
    /*Head Overview*/
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.259);
}


#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(3) > div > div > div{
    
    background: #006fff;
    color: white;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.259);
    cursor: pointer;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) > div > div > div{
    width: 9%;
    color: #0003a9;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div.st-emotion-cache-ocqkz7.e1f1d6gn3 > div:nth-child(1) > div:nth-child(1) > div > div > div > div > p{
    background: #006fff; /*Training Data Shape*/
    color: #ffffff;
    font-style: oblique;
    border: solid 3px #006fff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    min-width: 21em;
    border-radius: 10px;
    margin-block-start: 2em;
    margin-left: 105%;
    padding: 95px 45px 95px 40px;
    transition: opacity 350ms linear, scale 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div.st-emotion-cache-ocqkz7.e1f1d6gn3 > div:nth-child(2) > div:nth-child(1) > div > div > div > div > p{
    /*Testing Data Shape*/
    background: #006fff;
    color: #ffffff;
    margin-block-end: 1.75em;
    font-style:oblique;
    border: solid 3px #006fff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    min-width: 21em;
    border-radius: 10px;
    margin-block-start: 2em;
    margin-left: 175%;
    padding: 95px 45px 95px 40px;
}


head > style:nth-child(14){
    color: white;
}

div.st-emotion-cache-1cdvlwt.e1nzilvr5{
    margin-block-start: 2em;
}

button.st-emotion-cache-1uqyhna.ef3psqc11{
    justify-content: center;
    display: flex;
    align-items: center;
}

/*SVG Menu X*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-69l7hj.eczjsme2 > button > svg{
    color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) > div > div > div > div.st-bh.st-bi.st-b3.st-d3.st-c4.st-d4.st-c9 > svg{
    color: #006fff;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(11):has(div:hover) > div:not(:hover){
    /*Model Performance Non-Hover Blocks*/
    opacity: 0.34;
    scale: 0.87;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14):has(div:hover) > div:not(:hover){
    /*Model Performance Non-Hover Blocks*/
    opacity: 0.34;
    scale: 0.87;
}

div.st-emotion-cache-1xzm5la.e1nzilvr5{
    color: #006fff;
}

div.st-emotion-cache-nuq5nq.eczjsme11{
    color: #006fff;
    background-color:#006fff;
}

/*Rerun Buttons*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(15) > div > button{
    transition: scale 350ms ease-in, opacity 350ms linear, color 350ms ease-in-out;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(15) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(18) > div > button{
    transition: scale 350ms ease-in, opacity 350ms linear, color 350ms ease-in-out;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(18) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) > div > button{
    transition: scale 350ms ease-in, opacity 350ms linear, color 350ms ease-in-out;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(11) > div > button{
    transition: scale 350ms ease-in, opacity 350ms linear, color 350ms ease-in-out;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(11) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(7) > div > button{
    transition: scale 350ms ease-in, opacity 350ms linear, color 350ms ease-in-out;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(7) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(17) > div > button{
    transition: scale 350ms ease-in, opacity 350ms linear, color 350ms ease-in-out;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(17) > div > button:hover{
    scale: 1.01;
    color:#ffffff ;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div > button{
        transition: scale 350ms ease-in, opacity 350ms linear, color 350ms ease-in-out;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div > button:hover{
    scale: 1.01;
    color:#ffffff ;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(40) > div > button{
    transition: scale 350ms ease-in, opacity 350ms linear;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(40) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(5) > div > button{
    transition: scale 350ms ease-in, opacity 350ms linear;
    color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(5) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #006fff;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(5) > div > button:active{
    visibility: hidden;
}

/*SVG Images*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div > div.st-bh.st-bi.st-b3.st-d3.st-c4.st-d4.st-c9 > svg{
    color: #006fff; /*Arrow SVGs*/
}


/*Tables*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(4) > div > div > div > div.glideDataEditor.wzg2m5k,#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(11) > div > div > div > div.glideDataEditor.wzg2m5k, #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div > div > div > div.glideDataEditor.wzg2m5k,#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(21) > div > div > div > div.glideDataEditor.wzg2m5k,#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(23) > div > div > div > div.glideDataEditor.wzg2m5k{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.259);
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(7) > div > div > div > div.glideDataEditor.wzg2m5k{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.259);
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(9) > div > div > div > div.glideDataEditor.wzg2m5k{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.259);
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(11) > div:nth-child(1) > div:nth-child(1) > div > div > div,#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(11) > div:nth-child(2) > div:nth-child(1) > div > div > div,#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(11) > div:nth-child(3) > div:nth-child(1) > div > div > div, #root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div:nth-child(1) > div:nth-child(1) > div > div > div,#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div:nth-child(2) > div:nth-child(1) > div > div > div, #root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div:nth-child(3) > div:nth-child(1) > div > div > div{
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    border-radius: 14px;
    padding:15px 15px 15px 12%;
    margin: 3% 0 3% 0;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) > div > div > div > div.glideDataEditor.wzg2m5k{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.259);
}

/*SelectBoxes*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(7) > div > div > div{
    width: 11%;
    
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(5) > div > div > div{
    width: 17%;
}

/*Fixes*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(7) > div > div{
    
    border-radius: 8px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > header > div.st-emotion-cache-zq5wmm.ezrtsby0 > div.stDeployButton > button{
    content: 'Flood;'

}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div.st-emotion-cache-ocqkz7.e1f1d6gn3 > div:nth-child(1) > div:nth-child(1) > div > div > div > div > p > code{
    color:#170e45;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div.st-emotion-cache-ocqkz7.e1f1d6gn3 > div:nth-child(2) > div:nth-child(1) > div > div > div > div > p > code{
    color:#170e45;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(5) > div{
    border: none;
    border-radius: 8px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(10){
    transition: opacity 350ms linear, scale 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div.st-emotion-cache-ocqkz7.e1f1d6gn3 > div:nth-child(1) > div:nth-child(1) > div > div > div > div > p > code{
    color: #0003a9;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div.st-emotion-cache-ocqkz7.e1f1d6gn3 > div:nth-child(2) > div:nth-child(1) > div > div > div > div > p > code{
    color: #0003a9;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div{
    width: 11em;
    color: #0003a9;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(17) > div:nth-child(3) > div:nth-child(1) > div > div:nth-child(2) > div > div > div > img{
    margin-left: 2em;
    padding-left:-5em;
    margin-block-start: 3.6em;
    scale: 1.18;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div > div.st-bf.st-bg.st-bz.st-c0.st-c1.st-b3.st-c2.st-c3.st-bh.st-c4.st-c5.st-c6.st-c7{
    border: none;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(17) > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2) > div > div > div > img{
    margin-block-start: 2em;
}
#feature-importance > div > span{
    margin-left: 5em;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div > div.st-bf.st-bg.st-bz.st-c0.st-c1.st-b3.st-c2.st-c3.st-bh.st-c4.st-c5.st-c6.st-c7{
    border:#170e45 1px solid;
    width: 20%;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div > div.st-bf.st-bg.st-bz.st-c0.st-c1.st-b3.st-c2.st-c3.st-bh.st-c4.st-c5.st-c6.st-c7{
    border: none;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(12) > div > div{
    background: none;
    box-shadow: none;
}
*, *::before, *::after{
    transition: opacity 350ms linear, scale 350ms ease;
}
