#MainMenu{visibility: hidden;}
footer {visibility:hidden;}

/*Data Ratio Radio*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div{
    color: #0b6122;
    margin-block-start: 1em;
    margin-block-end: -1.5em;
    width: 10%;
}
/*Still Radio*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div{
    cursor: pointer; 
    user-select:none;
    border: 1px solid #0b6122;
    background: white;
    color: #0b6122;
    transition: all 0.2s ease-in;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div:hover{
    color: white;
    background: #0b6122;
    border: #0b6122;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(8) > div > div > p{
    background: #AFE1AF; /*Training Data Shape*/
    color: #ffffff;
    border: solid 3px #AFE1AF;
    width: 19.2em;
    border-radius: 10px;
    padding: 25px 45px 25px 40px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(9) > div > div > p{
    background: #AFE1AF; /*Testing Data Shape*/
    color: #ffffff;
    border: solid 3px #AFE1AF;
    width: 19.2em;
    border-radius: 10px;
    padding: 25px 45px 25px 40px;
}

head > style:nth-child(14){
    color: white;
}

div.st-emotion-cache-6qob1r.eczjsme3 { /*Menu List (Not FULL Selector)*/
    background-color: #ffffff;
    box-shadow: 0 0 0.9em 0.05em black;
    color: white;
}

div.st-emotion-cache-1cdvlwt.e1nzilvr5{
    margin-block-start: 2em;
}

button.st-emotion-cache-1uqyhna.ef3psqc11{
    justify-content: center;
    display: flex;
    align-items: center;
}

/*SVG Menu X*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-69l7hj.eczjsme2 > button > svg{
    color: #0b6122;
}

div.st-emotion-cache-1r6slb0.e1f1d6gn1{ /* RF XGBoost Performance Model*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFE1AF;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    border-radius: 14px;
    padding:15px 15px 15px 12%;
    margin: 3% 0 3% 0;
}

div.st-emotion-cache-1xzm5la.e1nzilvr5{
    color: #0b6122;
}

div.st-emotion-cache-nuq5nq.eczjsme11{
    color: #0b6122;
    background-color:#0b6122;
}

/*Rerun Buttons*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div > button{
    transition: scale 0.5s ease-in;
    transition: all 0.5s ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div > button:hover{
    scale: 1.1;
    color:#ffffff ;
    background-color: #AFE1AF;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(40) > div > button{
    transition: scale 0.5s ease-in;
    transition: all 0.5s ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(40) > div > button:hover{
    scale: 1.1;
    color:#ffffff;
    background-color: #AFE1AF;
}