@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Open+Sans&family=Oswald&family=Work+Sans&display=swap');
#MainMenu{visibility: hidden;}
footer {visibility:hidden;}

*, ::before, ::after{
    font-family: 'Inter Sans', sans-serif;
}

/*Font Change*/


/*MALFORMED OVERVIEW DATA FIX*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div{
    background-color: none;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div > div.glideDataEditor.wzg2m5k{
    /*Head Overview*/
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.259);
}


#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(3) > div > div > div{
    
    background: #AFE1AF;
    color: white;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.259);
    cursor: pointer;
}



#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div.st-emotion-cache-ocqkz7.e1f1d6gn3 > div:nth-child(1) > div:nth-child(1) > div > div > div > div > p{
    background: #AFE1AF; /*Training Data Shape*/
    color: #ffffff;
    border: solid 3px #AFE1AF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    width: 20em;
    max-width: 22em;
    border-radius: 10px;
    margin-block-start: 2em;
    margin-left: 120%;
    padding: 25px 45px 25px 40px;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div.st-emotion-cache-ocqkz7.e1f1d6gn3 > div:nth-child(2) > div:nth-child(1) > div > div > div > div > p{
    /*Testing Data Shape*/
    background: #AFE1AF; 
    margin-block-end: 1.75em;
    color: #ffffff;
    border: solid 3px #AFE1AF;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    width: 20em;
    max-width: 22em;
    border-radius: 10px;
    margin-block-start: 2em;
    margin-left: 155%;
    padding: 25px 45px 25px 40px;
}

head > style:nth-child(14){
    color: white;
}

div.st-emotion-cache-1cdvlwt.e1nzilvr5{
    margin-block-start: 2em;
}

button.st-emotion-cache-1uqyhna.ef3psqc11{
    justify-content: center;
    display: flex;
    align-items: center;
}

/*SVG Menu X*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-69l7hj.eczjsme2 > button > svg{
    color: #0b6122;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(10):has(div:hover) > div:not(:hover){
    /*Model Performance Non-Hover Blocks*/
    opacity: 0.5;
    scale: 0.87;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(13):has(div:hover) > div:not(:hover){
    /*Model Performance Non-Hover Blocks*/
    opacity: 0.5;
    scale: 0.87;
}

div.st-emotion-cache-1xzm5la.e1nzilvr5{
    color: #0b6122;
}

div.st-emotion-cache-nuq5nq.eczjsme11{
    color: #0b6122;
    background-color:#0b6122;
}

/*Rerun Buttons*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(7) > div > button{
    transition: scale 350ms ease-in;
    transition: all 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(7) > div > button:hover{
    scale: 1.01;
    color:#ffffff ;
    background-color: #AFE1AF;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(16) > div > button{
    transition: scale 350ms ease-in;
    transition: all 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(16) > div > button:hover{
    scale: 1.01;
    color:#ffffff ;
    background-color: #AFE1AF;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div > button{
    transition: scale 350ms ease-in;
    transition: all 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(14) > div > button:hover{
    scale: 1.01;
    color:#ffffff ;
    background-color: #AFE1AF;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(40) > div > button{
    transition: scale 350ms ease-in;
    transition: all 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(40) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #AFE1AF;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(5) > div > button{
    transition: scale 350ms ease-in;
    transition: all 350ms ease;
    color: #0b6122;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(5) > div > button:hover{
    scale: 1.01;
    color:#ffffff;
    background-color: #AFE1AF;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(5) > div > button:active{
    visibility: hidden;
}

/*SVG Images*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-10oheav.eczjsme4 > div > div:nth-child(1) > div > div:nth-child(3) > div > div > div > div.st-ct.st-cl.st-b3.st-c7.st-bt.st-e2.st-dg > svg, #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div > div.st-ct.st-cl.st-b3.st-c7.st-bt.st-e2.st-dg > svg, #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(6) > div > div > div > div.st-cv.st-cl.st-b3.st-c7.st-bt.st-e4.st-di > svg{
    color: white; /*Arrow SVGs*/
}

/*Tables*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(4) > div > div > div > div.glideDataEditor.wzg2m5k,#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(11) > div > div > div > div.glideDataEditor.wzg2m5k, #root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(13) > div > div > div > div.glideDataEditor.wzg2m5k,#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(21) > div > div > div > div.glideDataEditor.wzg2m5k,#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.st-emotion-cache-uf99v8.ea3mdgi5 > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(23) > div > div > div > div.glideDataEditor.wzg2m5k{
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.259);
}

/*Cards and Hovers*/
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(10) > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFE1AF;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    border-radius: 14px;
    padding:15px 15px 15px 12%;
    margin: 3% 0 3% 0;
    transition: opacity 350ms linear, scale 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(10) > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFE1AF;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    border-radius: 14px;
    padding:15px 15px 15px 12%;
    margin: 3% 0 3% 0;
    transition: opacity 350ms linear, scale 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(10) > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFE1AF;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    border-radius: 14px;
    padding:15px 15px 15px 12%;
    margin: 3% 0 3% 0;
    transition: opacity 350ms linear, scale 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(13) > div:nth-child(1){ /* RF XGBoost Performance Model*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFE1AF;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    border-radius: 14px;
    padding:15px 15px 15px 12%;
    margin: 3% 0 3% 0;
    transition: opacity 350ms linear, scale 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(13) > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFE1AF;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    border-radius: 14px;
    padding:15px 15px 15px 12%;
    margin: 3% 0 3% 0;
    transition: opacity 350ms linear, scale 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(13) > div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    color: #AFE1AF;
    background-color: white;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.259);
    border-radius: 14px;
    padding:15px 15px 15px 12%;
    margin: 3% 0 3% 0;
    transition: opacity 350ms linear, scale 350ms ease;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div.block-container.st-emotion-cache-z5fcl4.ea3mdgi4 > div:nth-child(1) > div > div:nth-child(13) > div > div{
    margin: 0;
    padding: 0;
    box-shadow: 0;
}